############## Not version specific ##############
graphviz
networkx
pydot

############## Version specific ##############
pandas>=0.22.0

############## Suggested ####################
# tqdm
# beautifulsoup4
# lxml
# ipyparallel
# notebook
# sqlalchemy
# sqlite
# psycopg2
# sas7bdat
