############# Normal requirements.txt ############
-r requirements.txt

############## Not version specific ##############
sphinx
sphinx-rtd-theme
# tqdm
# ipyparallel
# notebook
# sas7bdat

############## Version specific ##############

############## Github Imports ################
# -e git://github.com/gaulinmp/pyedgar.git#egg=pyedgar
# pip install git+https://github.com/gaulinmp/pyedgar.git#egg=pyedgar

############## Suggested ####################
