############## Not version specific ##############
seaborn

############## Version specific ##############
pandas>=0.22.0

############## Github Imports ################
-e git://github.com/gaulinmp/pyedgar.git#egg=pyedgar
# pip install git+https://github.com/gaulinmp/pyedgar.git#egg=pyedgar
-e git://github.com/pydoit/doit.git#egg=doit
# pip install git+https://github.com/pydoit/doit.git#egg=doit

############## Suggested ####################
# tqdm
# beautifulsoup4
# lxml
# ipyparallel
# notebook
# sqlalchemy
# sqlite
# psycopg2
# sas7bdat
# -r requirements.dev.txt
